<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    确定元素序列是否为升序，即其每个元素都严格大于（而不仅仅等于）前一个元素。空序列被视为升序。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}ascending-list.svg" alt="example" style="max-height: 150px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong> {% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span>整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>输出：</strong>逻辑值 <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>本任务选自Python CCPS 109 Fall 2018。该课程由张瑞敏继续教育学院教授。<a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>
