<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Визначи, чи порядок значень у запропонованому {% if is_js %}масиві{% else %}списку{% endif %} є строго зростаючим. В такому разі кожне значення
    є строго більшим (навіть не може бути рівним) за попереднє значення.
    Порожній {% if is_js %}масив{% else %}список{% endif %} вважається зростаючим.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}ascending-list.svg" alt="example" style="max-height: 150px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> Булеве (логічне) значення.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>Ця місія була взята з курсу Python CCPS 109 Восени 2018 року. Його викладав для Ryerson Chang School of Continuing Education <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a>.</i></p>
