<!-- Describe task in general -->

<p>
    Determine whether the {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %} of elements is ascending such that each of its elements is strictly larger than (and not merely equal to) the preceding element.
    Empty {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %} is considered as ascending.
</p>


<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}An <span translate="repeat">array</span> with <span translate="repeat">numbers</span>{% else %}A <span translate="repeat">list</span> with <span translate="repeat">integers</span>{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}<span translate="repeat">Boolean</span>{% else %}<span translate="repeat">Bool</span>{% endif %}">{{init_code_tmpl}}.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>The mission was taken from Python CCPS 109 Fall 2018. It is taught for Ryerson Chang School of Continuing Education by <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>
